<h1>Users List</h1>

<section *ngIf="(usersList$ | async) as list; else loadingTemplate">
  <ul class="users-list" *ngIf="list.length > 0; else noUsersTemplate">
    <li class="user-info" *ngFor="let user of list">
      <a [routerLink]="[user.id]" class="user-link">
        <strong>First Name:</strong> {{user.firstName}}
        <br />
        <strong>Last Name:</strong> {{user.lastName}}
      </a>
    </li>
  </ul>
  <ng-template #noUsersTemplate>
    <p>There are no users</p>
  </ng-template>
</section>

<ng-template #loadingTemplate>
  <p>Loading...</p>
</ng-template>
